* {
  box-sizing: border-box;
  line-height: 100%;
}
body {
  background: steelblue;
  /*background: #38678f;*/
  font-family: "Open Sans", arial;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
  /*max-width: 600px;*/

  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  table-layout: fixed;
}
th {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
  font-weight: lighter;
}
thead th {
  background: steelblue;
  height: 54px !important;

  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
td a {
  color: #3f75a2;
}
#phonebook {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
#main {
  min-width: 900px;
  max-width: 1200px;
  margin: 50px auto;
}
.email {
  font-size: 12px;
  word-break: break-all;
}
.content {
  color: white;
  text-align: center;
}
h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
button {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 5px;

  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
  background: steelblue;
}
button:hover:not(.active) {
  background: #588ebb;
}
button:active,
.active {
  background: #3f75a2;
  box-shadow: inset 0px 1px 2px #386890;
}
button::-moz-focus-inner {
  border: 0;
}
#header {
  text-align: center;
}
#header button {
  position: relative;
  min-width: 250px;
}
.searchBox {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchBox {
  width: calc(100% - 6.4vh);
  font-size: 2vh;
  outline: none;
  border: none;
}
.searchBox .buttonDelete {
  width: 2.4vh;
  height: 2.4vh;
  display: inline-block;
  background-color: none;
  position: relative;
  cursor: pointer;
}
.buttonDelete:before, .buttonDelete:after {
  position: absolute;
  content: ' ';
  height: 2.4vh;
  width: 4px;
  background-color: lightgrey;
  transition: background 0.5s;
}
.buttonDelete:before {
  transform: rotate(45deg);
}
.buttonDelete:after {
  transform: rotate(-45deg);
}
.searchBox .buttonDelete:hover:after,
.searchBox .buttonDelete:hover:before {
  background-color: #92959C;
}
.department {
  text-align: center;
}
.mark {
  background: gold;
}
.searchBox > div {
  width: calc(100% / 6);
  display: inline-block;
}
.searchBox > div:nth-child(2) {
  width: calc(100% / 1.5);
  padding: 10px 2.4vh 10px 4vh;
  border-radius: 5px;
  border: 1px solid #38678f;
  background-color: white;
  box-shadow: inset 0px 1px 2px #568ebd;
  background-image: url("../img/lens.png");
  background-repeat: no-repeat no-repeat;
  background-size: 2.5vh auto;
  background-position: .75vh center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
